server:
  port: ${SERVER_PORT:8000}

spring:
  profiles:
    active: dev
  datasource:
    url: jdbc:postgresql://${DB_HOST:192.168.99.100}:${DB_PORT:5432}/users_db
    username: ${DB_USERNAME:postgres}
    driver-class-name: org.postgresql.Driver
    password: ${DB_PASSWORD:1}
  jpa:
    hibernate:
      ddl-auto: validate

    database-platform: org.hibernate.dialect.PostgreSQL95Dialect
    generate-ddl: ${GENERATE_DDL:true}
    show-sql: ${SHOW_SQL:true}